body{
    width: 1366px;
    height: 625px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg, #FFCE5A 0%, #F99837 100%);
}
