@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

.Card{
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 50%;
    background-color: rgba(247, 243, 243, 0.884);
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
    transition: 350ms;
    padding: 1%;
}

.Card:hover{
    transform: scale(1.02);
    opacity: 0.8;
}

.CardImg{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.932);
    padding: 5%;
    border-radius: 100%;
}

.CardTitle{
    width: 100%;
    font-weight: 800;
    border-bottom: 1px rgba(0, 0, 0, 0.178) solid;
    text-align: center;
    font-size: 100%;
}

.CardBody{
    width: 100%;
    font-size: 100%;
    text-align: center;
}