.Registro{
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFCE5A 0%, #F99837 100%);
}

.RegistroLogo{
    width: 55%;
    height: 15%;
    padding-bottom: 15px;
}

.Labels {
    width: auto;
    height: 21px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 95%;
    line-height: 21px;

    text-align: center;

    color: #757575;
}

.FormItem{
    padding-bottom: 10px;
}
