@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');


.Sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 6%;
}

.SidebarContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f99937;;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.SidebarLogo{
    width: 100%;
    height: 11%;
    margin-bottom: 25%;
    border-bottom:1px solid rgba(0, 0, 0, 0.192);
}

.Exit{
    bottom: 0;
}
.SidebarItem{
    width: 90%;
    height: 9%;
    padding: 5%;
    border:1px rgba(248, 248, 248, 0.336) solid;
    border-radius: 100%;
    cursor: pointer;
    transition: 350ms;
    margin-bottom: 25%;
}

.SidebarItem:hover{
    scale: 1.05;
    background-color: rgba(255, 255, 255, 0.932);
}