body{
}

.Estoques{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.EstoquesContent{
    width: 100%;
    height: 100%;
    padding: 1%;
}

